:root {
  color-scheme: light dark;
}

select,
select::picker(select) {
  appearance: base-select; /* Opt into customizable select styling. */
  field-sizing: fixed; /* Prevents the dropdown width from changing dynamically */
}

select::picker(select) {
  background-color: var(--control-canvas);
  color: var(--control-text);
  border: 1px solid var(--control-border);
}

select option {
  background-color: var(--control-canvas);
  color: var(--control-text);
}

select option:checked {
  background-color: var(--control-highlight);
  color: var(--control-highlight-text);
}
