:root {
  color-scheme: light dark;
}

select,
select::picker(select) {
  appearance: base-select; /* Opt into customizable select styling. */
  field-sizing: fixed; /* Prevents the dropdown width from changing dynamically */
}

select,
select::picker(select) {
  background-color: var(--bg);
  color: var(--fg);
  border: 1px solid var(--bg3);
}

select option {
  background-color: var(--bg);
  color: var(--fg);
}

select option:checked {
  background-color: var(--bgAccentPrimary);
  color: var(--fgAccent);
}
